<a href="https://colab.research.google.com/github/Ubaid811/python-programming/blob/main/Python_Prpgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python**:



- python a very papular programming language
- it's easy to use
- provide high level of community
- syntex is very easy
- High level language ( human easy to understand)
- python provide builld-in library
- used in different filled
  - Data Science
  - Data Analytics
  - Machine Learning
  - Cycbersceurity
  - AI
  - Blockchain
  - Web Development
  -etc

# **Variable**
Variable is just contain value, is like a container who contain some data
variable is assigne to value so we can resued as we need

## Method to Used variable
- Used *underscore(_)*, *Letter(alphabet)*, *number*
- Example,
### Right Way
- a  = 10,
- name = "Ubaid",
- name_01= "ubaid",
- address1 = "khanewale,
- c = 23.32,
- d = True ,
etc

### Wrong way to assign value
- 1name = "ubaid"
  - not used special character who are already specifed like *int,float, char, string, bool*, etc
- string = " This is string"
- int = 10
num-student = 10

# Pthon
## Lecture-01
Basic of Python

In [ ]:
# saving and printing the student name
std_name = "Ubaid"
print(std_name)

Ubaid

In [ ]:
# Total number of Student
nbr_student = 10
print(nbr_student)

10

In [ ]:
# average attendance  of student out of 10
attendence =  8.9
print(attendence)

8.9

 # **Data Types**
 - int,        a = 10
 - float,      b = 10.3  
 - boolean,    True/Flase
 - String  ,   "Ubaid"
 - Complex ,  1 + 3j

## Operator

1. (+) addition
2. (-) subtraction
3. (*) Multiplication
4. (/) division
5. (**) exponentiation
6. (%) modulus (remainder after division)

In [ ]:
# Addition
a = 10
b = 5
print(a+b)
# or
print(10+7)

15
17

In [ ]:
# Muliplication
a = 12
b = 5
print(a*b)
# or
print(10*2)

60
20

In [ ]:
# Subtraction
a = 16
b= 6
print(a - b)
#or
print(12 - 6)

10
6

In [ ]:
# Division
a = 9
b = 4
print(a / b)

2.25

In [ ]:
# Exponentiation

print(2**5)

32

In [ ]:
# modulus (remainder after division)
print(12 % 5)

2

## Simple Programe to find the Area

In [ ]:
length = 12
width = 15
area = length * width
print(area)

180

### Swipe the number using third variable

In [ ]:
x = 3
y = 9
print("Before Swping:")
print(" x is:",x)
print(" y is:",y)

print("---"*10)
print("After Swping")
z = x
x = y
y  =z
print(" x is:",x)
print(" y is:",y)

Before Swping:
 x is: 3
 y is: 9
------------------------------
After Swping
 x is: 9
 y is: 3

## String Manipulation
 - There are diferent method to manipultion with Srting
 - Ones of them are fallows

In [4]:
a  = "Learn to is a string"
print(a)
print(type(a)) # This indicate which type of variable

Learn to is a string
<class 'str'>

### 01-Upper Case
- convert all the letter int Upercase(capital)

In [5]:
a = "hello word"
print(a.upper())

HELLO WORD

### 02-Lower Case
- convert all the elements in a variable into lower-case

In [8]:
b = "HELLO WORD"
print(b)
print(b.lower())

HELLO WORD
hello word

### 03-capitalize
- convert each word of sentence into capital word

In [9]:
c = "your name?"
print(c.capitalize())

Your name?

### 04-Strip
- will remove to white space

In [14]:
a = " your name "
print(a)
print(len(a))
print("After removing white space")
print(a)
print(len(a.strip()))

 your name
11
After removing white space
 your name
9

### 05-Finding

In [17]:
c= "Hello Word"
print(c.find("o")) # it will show the index number( in python index start from 0)

4

### 06-Replace

In [19]:
d = "Good Morning"
print(d)
print(d.replace("Morning", "Night"))

Good Morning
Good Night

### 07-Indexing

In [21]:
a = 1,2,3,4,5,6
print(a)

print(a[1])

(1, 2, 3, 4, 5, 6)
2

In [22]:
name = "Ubaid"
print(name[3])

i

### 08- Slicing
- select the range of element where you wants to get's

In [26]:
number =  12,35,23,34,24,13
print(number[1:4])  # start from 1 and not included 4

(35, 23, 34)

# List
- List hold the difeferent data types
- Orderd
- Allow Duplicates
- Mutable ( Elements should be change, removed etc)
- syntex []

In [29]:
list_1 = [12, "Ubaid", True, 30]
print(list_1)
print(type(list_1))

[12, 'Ubaid', True, 30]
<class 'list'>

In [37]:
# Allow Duplicates
list_2 = [12, 'class', False, 12, 'class']
print(list_2)

# Change the element
list_2[0] =  9
list_2[4] = "rol_nbr"    # List change the element through index
print(list_2)

[12, 'class', False, 12, 'class']
[9, 'class', False, 12, 'rol_nbr']

#  Tuple
- Tuple just like as list but key difference
- tupe are **Immutable**, it's can't change elememts, removed, or modified
- it have **ordered**
- Allow duplicates
- store different data types
- declar as ()

In [41]:
tuple_1 = (3, "name", True, 23.3)
print(tuple_1)
print(type(tuple_1))


# Duplicates
tup = (12, "nmae", 12, 'class', True, 'class')
print(tup)

(3, 'name', True, 23.3)
<class 'tuple'>
(12, 'nmae', 12, 'class', True, 'class')

# Set
- set are not allow  **Duplicates**
- Un-Orderd
- Mutable
- Declar []

In [44]:
my_set = {1,2,"ubaid", True}
print(type(my_set))

<class 'set'>

In [54]:
# Adding Element
my_set  = {1,3,5}
print(my_set)
my_set.add(7)
print(my_set)


# remove element
my_set.remove(3)
print(my_set)

{1, 3, 5}
{1, 3, 5, 7}
{1, 5, 7}

In [57]:
# Creating a set
my_set = {10, 20, 30, 40, 50}

# Using pop() to remove and return an arbitrary element
removed_element = my_set.pop()

print("Removed element:", removed_element) # it removed the last element
print("Updated set:", my_set)  # The set with the removed element

Removed element: 50
Updated set: {20, 40, 10, 30}

# Set methods:
1. add(): Adds an element to the set.
2. remove(): Removes an element (raises an error if not found).
3. discard(): Removes an element (does not raise an error if not found).
4. pop(): Removes and returns an arbitrary element.
5. union(): Returns the union of sets.
6. intersection(): Returns the intersection of sets.
7. difference(): Returns the difference between sets.
8. symmetric_difference(): Returns the symmetric difference between sets.

# Dictionary
- No Duplicates
- Mutable
- unorderd
- key- value pair

In [59]:
my_dict = {"name":"Ubaid", "class":"BSCS", "rol_nbr":12}
print(my_dict)

{'name': 'Ubaid', 'class': 'BSCS', 'rol_nbr': 12}

In [62]:
# you can change the element through key
my_dict['name'] = "Arif"
print(my_dict)

{'name': 'Arif', 'class': 'BSCS', 'rol_nbr': 12}

In [67]:
for i in my_dict.values():  # gets the value
  print(i)


print("--"*12)


# gets the key
for key in my_dict.keys():
  print(key)

Arif
BSCS
12
------------------------
name
class
rol_nbr